* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
    padding: 30px;
}

h1 {
    text-align: center;
    margin: 10px;
    color: teal;
}

.createPostContainer {
    display: flex;
    justify-content: center;
}

.createPostBtn {
    cursor: pointer;
    position: relative;
    padding: 10px 20px;
    font-size: 28px;
    font-weight: 600;
    color: teal;
    border: 3px solid teal;
    transition: 0.4s;
}

.createPostBtn:hover {
    color: #FFF;
    background-color: teal;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    border-radius: 16px;
    margin-top: 30px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    opacity: 0.01;
    transform: translateX(-100px);
}

.post-enter-active {
    opacity: 1;
    transform: translateX(0px);
    transition: all 300ms ease-in;
}

.post-exit {
    opacity: 1;
}

.post-exit-active {
    opacity: 0.01;
    transform: translateX(-100px);
    transition: all 300ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
}

.page {
    padding: 10px;
    border: 1px solid teal;
    cursor: pointer;
}

.page__current {
    border: 2px solid rgb(32, 70, 81);
    font-weight: bold;
}


