.mainContainer {
    margin-top: 50px;
}
.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.textContainer {
    padding: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 600px) {
    form {
        width: 100%;
    }
    .mainContainer h1 {
        text-align: center;
    }
    .textContainer {
        font-size: 12px;
        padding: 5px;
    }
    .container {
        margin: 5px;
        align-items: flex-start;
    }
}