.mainContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    text-align: center;
    margin: 10px;
    color: teal;
    font-size: 2em;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.a {
    --c: teal;
    color: var(--c);
    font-size: 16px;
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
    float: left;
    text-decoration: none;
    cursor: pointer;
}

ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

ul li .a:hover {
    color: white;
}

ul li .a:hover span {
    transform: translateY(0) scale(2);
}

ul li .a span:nth-child(1) {
    --n: 1;
}

ul li .a span:nth-child(2) {
    --n: 2;
}

ul li .a span:nth-child(3) {
    --n: 3;
}

ul li .a span:nth-child(4) {
    --n: 4;
}

button {
    background-color: transparent;
    border-width: 0;
}

@media only screen and (max-width: 600px) {

    .a {
        margin-right: 0;
        font-size: 10px;
    }

    ul {
        display: block;
    }

    a {
        font-size: 20px;
        margin: 0;
    }
}

@media only screen and (min-width: 601px) {

    .a {
        margin-right: 0;
        font-size: 14px;
    }

    ul {
        display: flex;

    }

    a {
        font-size: 20px;
        margin: 0;
    }
}

@media only screen and (min-width: 992px) {
    .a {
        font-size: 16px;
        margin: 0;
    }

    a {
        margin-right: 30px;
        font-size: 2em;
    }
}